/* Reset Start */
/* Sizing reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Rem reset */
html{
	font-size: 15px;
}

/* Font reset */
body{
	font-family: Arial, Helvetica, sans-serif;
}
/* Reset End */

.container{
    width: 920px;
    margin: 0 auto;
    padding: 1rem 0;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 3rem;
}

.col{
    flex-basis: 30%;
    flex-shrink: 0;
}

header{
    background-color: orange;
    color: white;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    z-index: 2;
}

li{
    list-style: none;
    display: inline-block;
}

a{
    color: white;
    text-decoration: none;
}

img{
    width: 100%;
    display: block;
}

.logo{
    margin: auto;
    width: 50%;
}

header nav>div:last-child{
    text-align: right;
}

main{
    padding: 5rem 0;
}

div.img-container{
    position: relative;
}

img.transiction{
    display: none;
}

.card:hover img{
    display: none;
}

.card:hover img.transiction{
    display: block;
}

.heart{
    display: flex;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    background-color: white;
    position: absolute;
    right: 0;
    top: 1rem;
    align-items: center;
    justify-content: center;
}

.heart:hover{
    color: red;
}

div.img-flags{
    position: absolute;
    left: 0;
    bottom: 2rem;
}

.badje{
    background-color: green;
    margin-right: .2rem;
    display: inline-block;
    padding: .4rem;
    font-size: .7rem;
    color: white;
}

.discount.badje{
    background-color: red;
}

main span::after{
    content: "\20AC";
}


.price>span:last-child{
    text-decoration: line-through;
    color: grey;
}

.price>span:first-child{
    font-weight: bold;
    color: red;
    text-decoration: none;
}

footer{
    background-color: black;
    color: white;
    margin-top: 2rem;
}